        <div id="footer">
            <div class="container_12">
                <div class="grid_3">
                    <h1>Our Friends</h1>
                    <ul>
                        <li><a href="http://xinchejian.com/">新车间@上海</a></li>
                        <li><a href="http://www.bjmakerspace.com/">北京创客空间</a></li>
                    </ul>
                </div>
                <!--
                <div class="grid_3">
                    <h1>Navigation</h1>
                    <ul>
                        <li><a href="index.htm" class="active">Home</a></li>
						<li><a href="projects.htm">Projects</a></li>
                        <li class="last"><a href="contact.htm">Contact</a></li>
                    </ul>
                </div>
                -->
                <div class="clear"></div>
            </div>
        </div>